{% include 'header.twig' %}
<body>
  <main id="task-list" className="shell shell-task-list">
    {{ react }}
  </main>
  <footer role="contentinfo">
    <a href="https://github.com/jpdevries/synctodo" target="_blank">Source Code</a>
  </footer>
  {% include 'scripts.twig' %}
</body>
</html>
