{% include 'header.twig' %}
<body>
  {{ react }}
  <footer>
    <a href="https://github.com/jpdevries/synctodo" target="_blank">Source Code</a>
  </footer>
  {% include 'scripts.twig' %}
</body>
</html>
