@import "bourbon/bourbon";
@import "neat/neat";
@import "spec/tacular";

%balanced {
  text-align:center;
}

%container {
  margin:0 auto;
  max-width:24em;
}

body {
  background:rgb(245,245,245);
  margin:0;
  padding:.5em;
  color:rebeccapurple;
  @include media($gtMobile) {
    padding:2em;
  }
}
.accessibly-hidden {
  @extend %accessibly-hidden;
}
label[for="new-item"] {
  display:block;
}
.balanced {
  @extend %balanced;
}
#task-list {
  margin-top:0;
  margin-bottom:1rem;
}
#todo {
  @extend %container;
  text-align:left;
  background:white;
  padding:1em;
  border:1px solid rgb(230,230,230);
}
footer {
  @extend %container;
  @extend %balanced;
}
.new-item__bar {
  display:flex;
  margin:1em 0;
}
#new-item {
  flex:1 0 auto;
  margin-right:1em;
}
#todo footer {
  text-align:center;
}
.task-bar {
  margin-top:1em;
}
a.subtle {
  color:currentColor;
  text-decoration:none;
}
p.view-all {
  margin-bottom:0;
}
